{% extends 'accounts/main.html'%} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Audit Form</title>
  </head>
</html>
<body>
<h1>AUDIT XX</h1>
<a class="viewDetails" href="">View Tenant Details</a>
<h4>for Tenant A</h4>
<h3>Safety</h3>
<div class="tableContainer">checklist table to implement</div>
<h3>Health</h3>
<div class="tableContainer">checklist table to implement</div>
<h3>Uploaded Photos</h3>
<div class="padding"> {% include 'accounts/upload_image.html' %}</div>
<div class="centre">
<button class="completeAudit">COMPLETE AUDIT</button>
</div>

</body>
{% endblock %}