
{% extends 'accounts/main.html' %} {% block content %}

<div>
  <h1>HOME</h1>
  <h4>View your summary here</h4>
  <div>
    <h2>UPCOMING AUDITS</h2>

    <a class="" href=""> </a>
    <table class="">
      <tr>
        <th>Tenant Name</th>
        <th>Status</th>
        <th>Update</th>
        <th>View</th>

      </tr>
      <h4>i realised for this part it should not be looping thru the checklist model (the for i in tenants). it should show the all the tenants, like how the search bar shows the tenant on click. </h4>
      {% for i in audits %}
      <tr>
        <td>{{ i.tenant.name }}</td>
        <td>{{ i.status }}</td>
        
        <td>
          <a class="updateButton" href="{% url 'checklist' %}">Start</a>

        </td>
            <td><a class="updateButton" href="{% url 'tenantsDetail' i.pk %}">Details</a></td>


      </tr>

      {% endfor %}
    </table>
  </div>
  <div class="">
    <h2>RECENT AUDITS</h2>
    <div class="">
      <table class="">
        <tr>
          <th>Tenant</th>

          <th>Date Audited</th>
          <th>Status</th>

          <th>Email</th>
        </tr>
        {% for i in tenants %}
        <tr>
          <td>{{ i.tenant.name }}</td>
          <td>{{ i.date_audited }}</td>
          <td>{{ i.status }}</td>
          
          <td><a class="updateButton" href="{% url 'plain_email' %}">email</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% comment %} {% extends 'accounts/main.html' %} {% block content %}

<br />
<div>
  <h1>HOME</h1>
  <h4>View your summary here</h4>
  <div>
    <h2>UPCOMING AUDITS</h2>

    <a class="" href=""> </a>
    <table class="">
      <tr>
        <th>Tenant Name</th>
        <th>Status</th>
        <th>Update</th>

      </tr>
      {% for i in tenants %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.status }}</td>
        {% if i.status in "Pending" %}
        <td>
          <a class="updateButton" href="{% url 'create_audit' %}">Start</a>

        </td>

        {% endif %}
      </tr>

      {% endfor %}
    </table>
  </div>
  <div class="">
    <h2>RECENT AUDITS</h2>
    <div class="">
      <table class="">
        <tr>
          <th>Tenant</th>

          <th>Date Audited</th>
          <th>Status</th>

          <th>View</th>
        </tr>
        {% for i in audits %}
        <tr>
          <td>{{ i.tenant }}</td>

          <td>{{ i.date_audited }}</td>
          <td>{{ i.status }}</td>

          {% if i.status in "Fail" %}
          <td>
            <a class="updateButton" href="{% url 'create_audit' %}">Details</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %} {% endcomment %}
