
    <form action="/send_mail_plain_with_file" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label">
                Email :
            </label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">
                Subject :
            </label>
            <input type="text" name="subject" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">
                Message :
            </label>
            <textarea name="message" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">
                File :
            </label>
            <input type="file" name="file" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Send Mail </button>
        </div>
    </form>
    <!--send_mail_plain_with_file in form action='/send_mail_plain_with_file' this word will be in the path url-->

    <form action="/send_plain_mail" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label">
                Email :
            </label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">
                Subject :
            </label>
            <input type="text" name="subject" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">
                Message :
            </label>
            <textarea name="message" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Send Mail</button>
        </div>
    </form>