{% load static %}
<html>
  <head>
    <title>Tenant Details</title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
	<link
      rel="stylesheet"
      type="text/css"
      href="{% static '/CSS/index.css' %}"
    />
	</head>

<h2 style="color: #ff7c5e">Enter new password</h2>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input class="searchButton" style="padding-right:2rem" type="Submit" name="Update Password">

</form>
</html>