{% extends 'accounts/main.html' %}
{% load static %} 
{% block content %}


<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>

  </head>
  <body>
    <h1>SEARCH</h1>
    <form method="get"> {{ myFilter.form}}
      <button class="searchButton" type="submit">Search</button>
    </form>
    <table>
      <tr>
        <th>Shop</th>
        <th>Auditor</th>
        <th>Date</th>
        <th>Done</th>
        <th>Email</th>
      </tr>
      {% for t in audits %}
      <tr>
        <td>{{t.tenant.name}}</td>
        <td>{{t.staff}}</td>
        <td>{{t.date_audited}}</td>
        <td>{{t.status}}</td>
        <td><a class="updateButton" href="{% url 'plain_email' %}">email</a></td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
{% endblock %}

