{% extends 'accounts/main.html' %}
{% load static %} 
{% block content %}


<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>

  </head>
  <body>
    <h1>SEARCH</h1>
    <form method="get"> {{ myFilter.form}}
      <button class="searchButton" type="submit">Search</button>
    </form>
    <table>
      <tr>
        <th>Shop</th>
        {% comment %} <th>Auditor</th> {% endcomment %}

        <th>Email</th>
        <th>Details</th>
      </tr>
      {% for t in audits %}
      <tr>
        <td>{{t.tenant.name}}</td>
        {% comment %} <td>{{t.staff}}</td> {% endcomment %}

        <td><a class="updateButton" href="{% url 'plain_email' %}">email</a></td>
         <td><a class="updateButton" href="{% url 'tenantsDetail' t.pk %}">Details</a></td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
{% endblock %}

