<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="Navbar.css" />
    <link rel="stylesheet" href="search.css" />
  </head>
  <body>
    <h1>SEARCH</h1>
    <form method="get">
      <input class="searchBar" value="{{filter.form}}" />
      <button class="searchButton" type="submit">Search</button>
    </form>
    <table>
      <tr>
        <th>Shop</th>
        <th>Auditor</th>
        <th>Date</th>
        <th>Done</th>
      </tr>
      {% for t in tenants %}
      <tr>
        <td>{{t.Tenant_Shop}}</td>
        <td>{{t.Auditor}}</td>
        <td>{{t.date}}</td>
        <td>{{t.done}}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="NavbarItems">
      <ul class="MenuIcon">
        <li class="icon">
          <a href="/src/templates/search.html">
            <img src="assets/searchIcon.svg" width="100"
          /></a>
        </li>
        <li class="icon">
          <a href="/src/templates/home.html"
            ><img src="assets/homeIcon.svg" width="100"
          /></a>
        </li>
        <li class="icon">
          <a href="/src/templates/avatar.html"
            ><img src="assets/avatarIcon.svg" width="100" />
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
