{% extends 'accounts/main.html' %}

{% block content %}


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
                {{ myFilter.form }}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Tenant</th>
					<th>Category</th>
					<th>Date Audited</th>
					<th>Status</th>
					<th>Update</th>

				</tr>
                {% for audit in audits %}
                    <tr>
                        <td>{{ audit.tenant }}</td>
                        <td>{{ audit.tenant.category }}</td>
                        <td>{{ audit.date_audited }}</td>
                        <td>{{ audit.status }}</td>
                        {% if audit.status in "Pending" %}
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_audit' %}">Update</a> </td>


                        {% endif %}
                    </tr>
                {% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}