{% extends 'accounts/main.html' %}
{% load static %} 
{% block content %}


<html>
  <head>
    <title>Tenant Details</title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    /></head>
    <div>{% for i in audits %}
        <h1>{{ i.tenant.name }}</h1>{% endfor %}
        <table class="">
      <tr>
        {% comment %} <th>Tenant Name</th> {% endcomment %}
        <th>Status</th>
          <th>Timestamp Track</th>
          <th>Comment</th>
          <th>Update</th>

      </tr>
            {% for i in audits %}
      <tr>
        {% comment %} <td>{{ i.tenant.name }}</td> {% endcomment %}
        <td>{{ i.status }}</td>
      <td>{{ i.date_audited }}</td>
      <td>{{ i.comment }}</td>
      {% if i.status in "Fail" %}
        <td>
          <a class="updateButton" href="{% url 'upload_image' %}">Update</a>

        </td>
      {% endif %}
      </tr>
            {% endfor %}
    


  </div><a class="logout" href="{% url 'logout' %}">Logout</a>
</html>{% endblock %}