{% extends 'accounts/main.html' %}
{% load static %} 
{% block content %}


<html>
  <head>
    <title>Tenant Details</title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    /></head>
    <div>

        <table class="">
      <tr>
        {% comment %} <th>Tenant Name</th> {% endcomment %}
          <th>Tenant Name</th>

          <th>View</th>

          <th>Update</th>

      </tr>

            {% for i in audits %}
      <tr>
        {% comment %} <td>{{ i.tenant.name }}</td> {% endcomment %}
          <td>{{ i.name }}</td>
<td>
          <a class="updateButton" href="{% url 'tenantsDetail' i.pk %}">Details</a>

        </td>


        <td>
          <a class="updateButton" href="{% url 'upload_image' %}">Update</a>

        </td>
      </tr>
            {% endfor %}
    


  </div><a class="logout" href="{% url 'logout' %}">Logout</a>
</html>{% endblock %}