{% extends 'accounts/main.html' %}

{% block content %}
    <br>


    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Tenants</h5>

            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Tenant Name</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Score</th>
                        <th>Update</th>
                    </tr>
                    {% for i in tenants %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.category }}</td>
                            <td>{{ i.status }}</td>
                            <td>{{ i.score }}</td>
                            {% if i.status in "Fail" %}
                            <td><a class="btn btn-sm btn-danger" href="">Update</a></td>
                            {% endif %}

                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>



{% endblock %}