{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static '/CSS/index.css' %}"/>
  </head>
<div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="uploadImage" type="file" name="document">
    <button class="uploadSubmit" type="submit">Upload</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}
    </div>
    {% comment %} <a class="logout" href="{% url 'logout' %}">Logout</a> {% endcomment %}

{% endblock %}
