<!DOCTYPE html>
<html>
  <head>
    <title>Navbar</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/Navbar.css' %}" />
  </head>
</html>
<body>
  <div class="NavbarItems">
    <ul class="MenuIcon">
      <li class="icon">
        <a href="/src/templates/search.html">
          <img src="assets/searchIcon.svg" width="100"
        /></a>
      </li>
      <li class="icon">
        <a href="/src/templates/home.html"
          ><img src="assets/homeIcon.svg" width="100"
        /></a>
      </li>
      <li class="icon">
        <a href="/src/templates/avatar.html"
          ><img src="assets/avatarIcon.svg" width="100" />
        </a>
      </li>
    </ul>
  </div>
</body>
