
#logo{
    }

    body{
        background-color: #ebeff5;
    }

    #total-audits{
        background-color:#4cb4c7;
    }

    #audits-passed{
        background-color:#7abecc;
    }

    #status-pending{
        background-color: #7CD1C0;
    }

